---
Checks: "google-*,
        clang-diagnostic-*,
        clang-analyzer-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-bounds-,
        openmp-*,
        performance-*,
        portability-*,
        modernize-*,
        -modernize-use-trailing-*
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     google
